/* Обнуление CSS браузера */
html {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* Задаем основные шрифты и так же обнуляем margin */

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}

/* HEADER */

header {
  mix-blend-mode: color-burn;
  background-image: url(./img/header__bg.png);
}
li {
  list-style-type: none;
}
.header__container {
  position: relative;
  align-items: center;
  height: 700px;
  background-position: center;
}
.header__info {
  padding: 27px 0 0 72px;
  max-width: 1336px;
  margin: 0 auto;
  position: absolute;
  top: 0px;
  z-index: 6;
  width: 100%;
}
.header__background__container {
  position: relative;
  overflow: hidden;
  min-height: 700px;
  background-color: #e9ded4;
  padding: 0;
  margin: 0;
}

.header__background__item {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.layercircle {
  z-index: 1;
  background-image: url(./img/background__header/fullcircle.png);
  left: 49.3%;
  bottom: 11.7%;
  width: 660px;
  height: 660px;
}

.layerking {
  z-index: 1;
  background-image: url(./img/background__header/king.png);
}

.layerqween {
  z-index: 1;
  background-image: url(./img/background__header/qween.png);
}

.layer-text {
  z-index: 2;
  left: 49.3%;
  bottom: 11.7%;
  width: 661px;
  height: 661px;
  mix-blend-mode: overlay;
  animation: rotateZ 30s linear infinite;
  background-image: url(./img/background__header/Group2big.png);
}

.layercity {
  z-index: 3;
  background-image: url(./img/background__header/1920-layer2restored.png);
}

.layer-mask {
  z-index: 4;
  mix-blend-mode: color-burn;
  background-image: url(./img/background__header/mask.png);
}

.layerhorse {
  z-index: 5;
  background-image: url(./img/background__header/horse.png);
}

.layerpawn {
  z-index: 5;
  background-image: url(./img/background__header/pawn.png);
}
@keyframes rotateZ {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
.layerhorse,
.layerpawn,
.layerking,
.layerqween {
  transition: transform 0.3s ease;
}

header:hover .layerhorse {
  transform: translateY(100px) translateX(-100px) rotate(-30deg);
}

header:hover .layerpawn {
  transform: translateY(-300px) translateX(200px) rotate(30deg);
}

header:hover .layerking,
header:hover .layerqween {
  transform: translateY(-10px);
}

/* Логотип */

.header__logo {
  display: flex;
  margin-bottom: 60px;
}
.logo__img {
  display: flex;
}
.logo__img__item {
  width: 23px;
  height: 34px;
}
.logo__title {
  text-transform: uppercase;
  font-family: "Golos Text", sans-serif;
  font-size: 17px;
  font-weight: 700;
  align-content: center;
  padding-left: 6px;
  line-height: 17.98px;
  letter-spacing: -0.3px;
  color: #595653;
}

/* Содержание HEADER */

h1 {
  font-family: "Merriweather";
  font-size: 60px;
  font-weight: 400;
  line-height: 66px;
  text-align: left;
  text-transform: uppercase;
}
.header__title__container {
  max-width: 542px;
  margin-bottom: 25px;
}
.header__title__span__item {
  display: flex;
}
.header__title__span__item__center {
  display: flex;
  justify-content: center;
}
.header__title__span__item__end {
  display: flex;
  justify-content: end;
}
.support {
  font-family: "Golos Text", sans-serif;
  font-size: 18px;
  font-weight: 400;
  align-content: center;
  color: #313131;
  line-height: 23px;
  text-align: center;
  margin-bottom: 40px;
}
.header__title__btn {
  display: flex;
}

.header__title__btn {
  display: flex;
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  justify-content: center;
}
.title__btn {
  border-radius: 50px;
  min-width: 263px;
  height: 72px;
  text-align: center;
  align-content: center;
}
.support__btn {
  color: #ffffff;
  background-color: #1f1f1f;
}
.details__btn {
  color: #1f1f1f;
  border: 2px solid #1f1f1f;
  margin-left: 15px;
}
.support__btn:hover {
  color: #1f1f1f;
  background-color: #fbce51;
  transition: background-color 0.3s;
}
.details__btn:hover {
  color: #ffffff;
  background-color: #1f1f1f;
  margin-left: 15px;
  transition: background-color 0.3s;
}
.running__line {
  background-color: #f54932;
  padding: 16px 12px 44px 12px;
  margin-bottom: 80px;
  overflow: hidden;
  position: relative;
  height: 44px; /* установите высоту равной высоте текста */
}

.running__line__p__item {
  color: #ffffff;
  font-family: "Merriweather";
  font-size: 22px;
  font-weight: 400;
  line-height: 24.2px;
  position: absolute;
  white-space: nowrap;
  padding-left: 100%;
  animation: running-text 10s linear infinite;
}

@keyframes running-text {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.lecture {
  margin-bottom: 188px;
}
.lecture__container {
  margin: 0 72px;
}
.lecture__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}
.play {
  display: flex;
  justify-content: space-between;
}
.play__img {
  margin-right: 39px;
  min-width: 478px;
}
/* Эврика */
.play__img__container {
  z-index: 0;
  position: relative;
  background-image: url(./img/play__img/bg.png);
  left: 4.9%;
  top: 6px;
  height: 453.81px;
  background-repeat: no-repeat;
}
.play__img__item {
  position: absolute;
  background-repeat: no-repeat;
}
.evrika {
  z-index: 1;
  background-image: url(./img/play__img/evrika.png);
  left: -11%;
  width: 528.99px;
  top: -51px;
  height: 343.81px;
}
.player1 {
  display: none;
  z-index: 2;
  background-image: url(./img/play__img/player1.png);
  left: 11%;
  width: 528.99px;
  top: 65px;
  height: 343.81px;
}
.player2 {
  display: block;
  z-index: 2;
  background-image: url(./img/play__img/player2.png);
  left: 3%;
  width: 528.99px;
  top: 63px;
  height: 343.81px;
}
.hand {
  z-index: 3;
  background-image: url(./img/play__img/hand.png);
  left: 36%;
  width: 528.99px;
  bottom: -198px;
  height: 343.81px;
}
.black__horse {
  z-index: 3;
  background-image: url(./img/play__img/black__horse.png);
  left: 8%;
  width: 528.99px;
  bottom: -221px;
  height: 343.81px;
}
.horse__evrika {
  z-index: 2;
  background-image: url(./img/play__img/horse__evrika.png);
  left: -8%;
  width: 528.99px;
  bottom: -166px;
  height: 343.81px;
}
.mask {
  z-index: 2;
  left: 0%;
  top: 6%;
  mix-blend-mode: color-burn;
  background-image: url(./img/background__header/mask.png);
  height: 426px;
  width: 405px;
}
.play__img__item.hand {
  transition: transform 0.3s ease;
}

.play__img__item.black__horse {
  transition: transform 0.3s ease;
}

.play__img__item.horse__evrika,
.play__img__item.player1 {
  display: none;
}
/* //////////////////// */
.lecture__p {
  padding-top: 28px;
  font-family: "Merriweather";
  font-size: 36px;
  font-weight: 400;
  line-height: 48.6px;
  text-align: left;
  text-transform: uppercase;
}
.play__info__p {
  padding: 0;
  margin-bottom: 45px;
}
.lecture__p__span {
  color: #f54932;
  font-weight: 700;
}
/* Таблица */
.line {
  border-right: 2px solid #d0d0d0;
}
.horizontal__line {
  border-bottom: 2px solid #d0d0d0;
}
.play__info__table {
  margin-bottom: 35px;
}
.font__golos__regular {
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  font-weight: 400;
  align-content: center;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #595653;
}
.play__info__table__item {
  padding: 13px 18px 11px 0;
}
.table__bold {
  padding-right: 144px;
  padding-left: 13px;
  font-weight: 600;
}
.table__bold__span {
  text-decoration: line-through;
  text-decoration-color: red;
  margin-right: 8px;
}
.all__a {
  color: #3057a2;
  letter-spacing: 0px;
  font-size: 20px;
  text-transform: none;
}
/* Таблица враппер, которая в итоге станет слайдером */
.container__content {
  margin: 0 72px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 112px 112px 136px;
  gap: 20px;
}
.wrapper__item {
  background-image: url(./img/header__bg.png);
}
.wrapper__info {
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  padding-left: 16px;
  max-width: 446px;
}
.wrapper__item__container {
  display: flex;
  margin: 20px;
}
.wrapper__number {
  background-color: #ffffff;
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px;
  height: 36px;
  width: 36px;
}
.box3 {
  grid-column-start: 3;
  grid-row-start: 3;
  grid-row-end: 1;
}
.box7 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
}
.title__p {
  font-family: "Merriweather";
  font-size: 54px;
  font-weight: 400;
  line-height: 64.8px;
  text-align: left;
  text-transform: uppercase;
}
.transformation__title {
  margin-bottom: 53px;
}
.transformation__span {
  display: flex;
}
.transformation__span__item {
  padding-left: 19px;
  padding-bottom: 4px;
}
.airplane__img {
  position: absolute;
  top: 2233px;
  right: 10px;
}
.transformation {
  margin-bottom: 200px;
}
/* Участники */
.btns__slider {
  display: flex;
  align-items: center;
}
.counter {
  display: flex;
  margin: 0px 17px;
  font-family: "Golos Text", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 19.2px;
  color: #313131;
}
.participant__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 61px;
}
.counter__max {
  opacity: 60%;
}
/* Слайдер item */
.avatar {
  background-image: url("img/avatar.png");
  height: 320px;
  width: 320px;
  margin-bottom: 28px;
}
.container__slider {
  overflow: hidden;
  margin: 0 auto;
}
.slider__item {
  display: flex;
  text-align: center;
  margin-right: 20px;
  width: 394px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider__name {
  font-family: "Golos Text", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 6px;
}
.slider__line {
  display: flex;
  position: relative;
  width: 2484px;
  left: 0;
  transition: all ease 1s;
}
.btn__back,
.btn__next {
  text-align: center;
  width: 44px;
  height: 44px;
  background-color: #313131;
  border: none;
  border-radius: 40px;
}
.btn__back:hover,
.btn__next:hover {
  transition: 0.3s;
  background-color: #fbce51;
}
.btn__back__transform,
.btn__next__transform {
  text-align: center;
  width: 44px;
  height: 44px;
  background-color: #313131;
  border: none;
  border-radius: 40px;
}
.btn__back__transform:hover,
.btn__next__transform:hover {
  transition: 0.3s;
  background-color: #fbce51;
}
.anchor {
  padding-top: 21px;
}
.slider__item__a {
  text-decoration: none;
  border: 1px solid #3057a2;
  padding: 7px 11px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 62px;
  line-height: 34px;
}
.slider__item__a:hover {
  color: #ffffff;
  background-color: #3057a2;
  transition: 0.3s;
}
.participant {
  margin-bottom: 140px;
}
.running__line__footer {
  margin-bottom: 0;
}
footer {
  padding-top: 42px;
  height: 150px;
  background-color: #e9ded4;
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: #313131;
}
.mobile {
  display: none;
}
.wrapper__group1 {
  display: contents;
}
.wrapper__group2 {
  display: contents;
}
.lecture__mobile__img {
  display: none;
}
.lecture__p__span {
  display: none;
}
.font__golos__regular__table__mobile {
  display: none;
}
.btn__next__transform.disabled {
  background-color: #d9d9d9;
}
.btn__back__transform.disabled {
  background-color: #d9d9d9;
}
.btn__next__transform.disabled {
  background-color: #d9d9d9;
}
.btn__back__transform.disabled {
  background-color: #d9d9d9;
}
.pagination__li.active {
  background-color: #313131;
}
.btns__slider__mobile {
  display: none;
}
.footer__text__item {
  display: none;
}
.btns__slider__transform {
  display: none;
}
@media (max-width: 1318px) {
   .airplane__img {
    display: none;
  }
  .wrapper__line {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
  }
  
  .wrapper__item {
    width: 100%;
  }
  
  .wrapper__group1,
  .wrapper__group2 {
    display: contents;
    width: 100%;
  }
}
@media (max-width: 1280px) {
  .header__container {
    height: 812px;
  }
  .header__background__container {
    top: 112px;
  }
  .header__title__btn {
    flex-direction: column;
    align-items: center;
  }
  .details__btn {
    margin: 14px 0 0;
  }
  .layerpawn {
    display: none;
  }
  .layercircle {
    bottom: 5.7%;
  }

  .layer-text {
    bottom: 5.7%;
  }
}
@media (max-width: 1280px) {
  /* Header */
  .layercity {
    right: 0%;
    background-size: 150%;
    background-position: 58% bottom;
  }
  .layercircle {
    background-size: 65%;
    right: -1%;
    bottom: 1%;
    left: unset;
    bottom: -3%;
  }

  .layer-text {
    background-size: 65%;
    right: -1%;
    bottom: 1%;
    left: unset;
    bottom: -3%;
  }

  .layerking {
    background-size: 76%;
    right: -4%;
    bottom: -10%;
  }

  .layerqween {
    background-size: 98%;
    right: 4%;
    bottom: -11%;
  }
  .layerhorse {
    background-size: 96%;
    right: 1%;
    bottom: -15%;
  }
  /* content */
  .lecture__mobile__img {
    display: block;
    margin: 24px auto;
  }
  .lecture__img {
    display: none;
  }
  .play {
    flex-direction: column;
    overflow: hidden;
  }
  .play__img {
    margin: 52px auto;
  }
  .lecture__content {
    margin-bottom: 0;
  }
}
@media (max-width: 996px) {
  .layercity {
    right: 0%;
    background-size: 150%;
    background-position: 58% bottom;
  }
  .layercircle {
    background-size: 65%;
    right: -1%;
    bottom: 1%;
    left: unset;
    bottom: -3%;
  }

  .layer-text {
    background-size: 65%;
    right: -1%;
    bottom: 1%;
    left: unset;
    bottom: -3%;
  }

  .layerking {
    background-size: 76%;
    right: -4%;
    bottom: -10%;
  }

  .layerqween {
    background-size: 98%;
    right: 4%;
    bottom: -11%;
  }
  .layerhorse {
    background-size: 96%;
    right: 1%;
    bottom: -15%;
  }
  .header__title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    font-family: "Merriweather";
    font-size: 36px;
    font-weight: 400;
    line-height: 39.6px;
    letter-spacing: 1.2361623048782349px;
    text-align: left;
  }
  .header__logo {
    margin-bottom: 40px;
  }
  .support {
    text-align: start;
  }
  .title__btn br {
    display: none;
  }
  .title__btn {
    border-radius: 66px;
    padding: 18px 20px 18px 20px;
    width: 335px;
  }
}
@media (max-width: 900px) {
  .layerking {
    bottom: -13%;
  }

  .layerqween {
    bottom: -14%;
  }
  .layerhorse {
    bottom: -18%;
  }
}
@media (max-width: 847px) {
  .slider__line {
    left: 0;
  }
  .slider__item {
    width: 335px;
    margin-bottom: 41px;
  }
  .avatar {
    height: 285px;
    width: 256px;
    background-size: 94%;
    background-position-x: 6px;
    background-position-y: 41px;
    background-repeat: no-repeat;
  }
  .btn__next__mobile,
  .btn__back__mobile {
    width: 34px;
    height: 34px;
  }
}
@media (max-width: 816px) {
  .layerking {
    bottom: -17%;
  }

  .layerqween {
    bottom: -18%;
  }
  .layerhorse {
    bottom: -21%;
  }
  tr {
    display: flex;
    flex-direction: column;
  }
  .btns__slider__desktop {
    display: none;
  }
  .btns__slider__mobile {
    display: flex;
    justify-content: center;
  }
  .container__slider {
  }
}
@media (max-width: 714px) {
  .title__p {
    font-size: 36px;
    line-height: 39.6px;
    }
    .layerking {
    bottom: -31%;
    }
    .layerqween {
    bottom: -31%;
    }
    .layerhorse {
    bottom: -32%;
    }
    .layercircle {
    background-size: 54%;
    right: -18%;
    left: unset;
    bottom: -19%;
    }
    .layer-text {
    background-size: 54%;
    right: -18%;
    bottom: 1%;
    left: unset;
    bottom: -19%;
    }
    header:hover .layerhorse {
    transform: translateY(80px) translateX(-60px) rotate(-50deg);
    }
    .header__info {
    padding: 27px 20px 0;
    }
    .lecture__p {
    padding-top: 28px;
    font-size: 28px;
    line-height: 38px;
    padding-top: 0;
    }
    .lecture__container {
    margin: 0px 20px;
    }
    .running__line {
    margin-bottom: 49px;
    }
    .running__line__footer {
    margin: 0;
    }
    footer {
    padding-top: 39px;
    height: 214px;
    }
    .footer__text__item {
    display: block;
    }
    .container__content {
      margin: 0 20px;
    }
}
@media (max-width: 375px) {
  .layerking {
    bottom: -31%;
  }

  .layerqween {
    background-size: 166%;
    right: 39%;
    bottom: -16%;
  }
  .layerhorse {
    background-size: 193%;
    bottom: -18%;
    right: 123px;
  }
  .layercircle {
    background-size: 54%;
    right: -18%;
    left: unset;
    bottom: -19%;
  }
  .layer-text {
    background-size: 54%;
    right: -18%;
    bottom: 1%;
    left: unset;
    bottom: -19%;
  }
  header:hover .layerhorse {
    transform: translateY(80px) translateX(-60px) rotate(-50deg);
  }
  .header__info {
    padding: 16px 20px 0;
  }
  .logo__img__item {
    width: 20px;
    height: 34px;
  }
  .logo__title {
    font-size: 14.42px;
    letter-spacing: -0.1px;
  }
  .header__title {
    align-items: normal;
  }
  h1 {
    letter-spacing: 0;
  }
  .header__title__span__item__center {
    margin-left: 6px;
  }
  .support {
    margin-left: 0;
    margin-bottom: 31px;
  }
  .header__title__container br {
    display: none;
  }
  .mobile {
    display: block !important;
  }
  .title__btn {
    height: 47px;
    padding: 0;
  }
  .layercity {
    top: -6%;
    background-size: 277%;
    background-position: 73% bottom;
  }
  .header__container {
    height: 773px;
  }
  .layercircle {
    background-size: 45%;
    right: -35%;
    left: unset;
    bottom: -11%;
  }
  .layerking {
    background-size: 127%;
    bottom: -15%;
    right: 22%;
  }
  .layer-text {
    background-size: 45%;
    right: -35%;
    bottom: 1%;
    left: unset;
    bottom: -11%;
  }
  .running__line {
    padding: 6px 12px 0px 12px;
    position: relative;
    height: 39px;
  }
  .running__line__p__item {
    font-size: 16px;
  }
  .play__img__container {
    left: 3.2%;
    top: -5px;
    height: 329.81px;
    margin-bottom: 10px;
  }
  .lecture__p__span br {
    display: none;
  }
  .evrika {
    background-size: 70%;
    top: -8%;
    left: -7%;
  }
  .player1 {
    background-size: 45%;
    left: 8%;
    top: 54px;
  }
  .player2 {
    background-size: 56%;
  }
  .hand {
    background-size: 38%;
    left: 25%;
    bottom: -239px;
  }
  .black__horse {
    background-size: 21%;
    left: 6%;
    bottom: -253px;
  }
  .horse__evrika {
    background-size: 33%;
    left: -5%;
    bottom: -216px;
  }
  .mask {
    height: 304px;
    width: 320px;
    top: 8%;
  }
  .lecture__p__span {
    display: block;
  }
  .play__info__p {
    margin-bottom: 30px;
  }
  .play__info__table__item {
    padding: 13px 18px 0px 0;
    margin-bottom: 9px;
  }
  .table__bold {
    font-weight: 600;
    margin-left: -1px;
    padding: 0 0 13px 0;
    align-items: center;
  }
  .tr__mobile {
    display: flex;
    flex-direction: row;
  }
  .play__info__mobile {
    margin-bottom: 15px;
  }
  .table__bold__mobile {
    padding: 0;
    display: flex;
    align-items: center;
    margin-left: -6px;
  }
  .horizontal__line__mobile {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .play__info__table {
    margin-bottom: 25px;
  }
  .font__golos__regular {
    font-size: 18px;
    letter-spacing: 1px;
  }
  .all__a {
    letter-spacing: 0px;
  }
  .font__golos__regular__table__mobile {
    display: block;
  }
  .title__p {
    font-size: 36px;
    line-height: 39.6px;
  }
  .lecture {
    margin-bottom: 118px;
  }
  .transformation__span {
    flex-direction: column;
  }
  .transformation {
    margin-bottom: 119px;
  }
  .transformation__span__item {
    padding: 10px 0 0;
  }
  .transformation__span__item br {
    display: none;
  }
  .transformation__title {
    margin-bottom: 147px;
  }
  .wrapper__info {
    line-height: 21.6px;
    font-size: 18px;
  }
  .wrapper {
    height: 300px;
    gap: 40px;
    margin-bottom: 23px;
    position: relative;
    flex-direction: row;
  }
  .wrapper__item {
    padding-top: 40px;
    width: 335px;
  }
  .wrapper__item__container {
    display: flex;
    margin: 20px;
    padding-right: 20px;
    width: 315px;
}
  .box2 {
    padding-top: 0px;
    margin-top: 30px;
    height: 0;
  }
  .airplane__img {
    position: absolute;
    top: 2932px;
    right: -11px;
}
  .btns__slider__transform {
    justify-content: center;
  }
  .pagination {
    display: flex;
    padding: 0;
  }
  .pagination__li {
    background-color: #d9d9d9;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 6px;
  }
  .pagination__li:first-child {
    margin: 0 6px 0 16px;
  }
  .pagination__li:last-child {
    margin-right: 16px;
  }
  .airplane__img {
    display: block;
    left: 2px;
  }
  .btn__back__transform,
  .btn__next__transform {
    width: 36px;
    height: 36px;
  }
  .btns__slider__transform {
    display: flex;
  }
  .participant {
    margin-bottom: 102px;
  }
  .wrapper__line {
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
  }
  .container__content {
    overflow: hidden;
  }
  .wrapper__group1,
  .wrapper__group2 {
    background-image: url(./img/header__bg.png);
    display: block;
  }
  .box1,
  .box2 {
    background-image: none;
  }
}
