/* Обнуление CSS браузера */
html {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* Задаем основные шрифты и так же обнуляем margin */

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}

/* HEADER */

header {
  mix-blend-mode: color-burn;
  background-image: url(./img/header__bg.png);
}
li {
  list-style-type: none;
}
.header__container {
  position: relative;
  align-items: center;
  height: 700px;
  background-position: center;
}
.header__info {
  padding: 27px 0 0 72px;
  max-width: 1336px;
  margin: 0 auto;
  position: absolute;
  top: 0px;
  z-index: 6;
  width: 100%;
}
.header__background__container {
  position: relative;
  overflow: hidden;
  min-height: 700px;
  background-color: #e9ded4;
  padding: 0;
  margin: 0;
}

.header__background__item {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.layercircle {
  z-index: 1;
  background-image: url(./img/background__header/fullcircle.png);
  left: 49.3%;
  bottom: 11.7%;
  width: 660px;
  height: 660px;
}

.layerking {
  z-index: 1;
  background-image: url(./img/background__header/king.png);
}

.layerqween {
  z-index: 1;
  background-image: url(./img/background__header/qween.png);
}

.layer-text {
  z-index: 2;
  left: 49.3%;
  bottom: 11.7%;
  width: 661px;
  height: 661px;
  mix-blend-mode: overlay;
  animation: rotateZ 30s linear infinite;
  background-image: url(./img/background__header/Group2big.png);
}

.layercity {
  z-index: 3;
  background-image: url(./img/background__header/1920-layer2restored.png);
}

.layer-mask {
  z-index: 4;
  mix-blend-mode: color-burn;
  background-image: url(./img/background__header/mask.png);
}

.layerhorse {
  z-index: 5;
  background-image: url(./img/background__header/horse.png);
}

.layerpawn {
  z-index: 5;
  background-image: url(./img/background__header/pawn.png);
}
@keyframes rotateZ {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
.layerhorse,
.layerpawn,
.layerking,
.layerqween {
  transition: transform 0.3s ease;
}

header:hover .layerhorse {
  transform: translateY(100px) translateX(-100px) rotate(-30deg);
}

header:hover .layerpawn {
  transform: translateY(-300px) translateX(200px) rotate(30deg);
}

header:hover .layerking,
header:hover .layerqween {
  transform: translateY(-10px);
}

/* Логотип */

.header__logo {
  display: flex;
  margin-bottom: 60px;
}
.logo__img {
  display: flex;
}
.logo__img__item {
  width: 23px;
  height: 34px;
}
.logo__title {
  text-transform: uppercase;
  font-family: "Golos Text", sans-serif;
  font-size: 17px;
  font-weight: 700;
  align-content: center;
  padding-left: 6px;
  line-height: 17.98px;
  letter-spacing: -0.3px;
  color: #595653;
}

/* Содержание HEADER */

h1 {
  font-family: "Merriweather";
  font-size: 60px;
  font-weight: 400;
  line-height: 66px;
  text-align: left;
  text-transform: uppercase;
}
.header__title__container {
  max-width: 542px;
  margin-bottom: 25px;
}
.header__title__span__item {
  display: flex;
}
.header__title__span__item__center {
  display: flex;
  justify-content: center;
}
.header__title__span__item__end {
  display: flex;
  justify-content: end;
}
.support {
  font-family: "Golos Text", sans-serif;
  font-size: 18px;
  font-weight: 400;
  align-content: center;
  color: #313131;
  line-height: 23px;
  text-align: center;
  margin-bottom: 40px;
}
.header__title__btn {
  display: flex;
}

.header__title__btn {
  display: flex;
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  justify-content: center;
}
.title__btn {
  border-radius: 50px;
  width: 263px;
  height: 72px;
  text-align: center;
  align-content: center;
}
.support__btn {
  color: #ffffff;
  background-color: #1f1f1f;
}
.details__btn {
  color: #1f1f1f;
  border: 2px solid #1f1f1f;
  margin-left: 15px;
}
.support__btn:hover {
  color: #1f1f1f;
  background-color: #fbce51;
  transition: background-color 0.3s;
}
.details__btn:hover {
  color: #ffffff;
  background-color: #1f1f1f;
  margin-left: 15px;
  transition: background-color 0.3s;
}
.running__line {
  background-color: #f54932;
  padding: 16px 12px 44px 12px;
  margin-bottom: 80px;
  overflow: hidden;
  position: relative;
  height: 44px; /* установите высоту равной высоте текста */
}

.running__line__p__item {
  color: #ffffff;
  font-family: Merriweather;
  font-size: 22px;
  font-weight: 400;
  line-height: 24.2px;
  position: absolute;
  white-space: nowrap;
  padding-left: 100%;
  animation: running-text 10s linear infinite;
}

@keyframes running-text {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.lecture {
  margin-bottom: 188px;
}
.lecture__container {
  margin: 0 72px;
}
.lecture__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}
.play {
  display: flex;
  justify-content: space-between;
}
.play__img {
  margin-right: 39px;
  min-width: 478px;
}
/* Эврика */
.play__img__container {
  z-index: 0;
  position: relative;
  background-image: url(./img/play__img/bg.png);
  left: 4.9%;
  top: 6px;
  height: 453.81px;
  background-repeat: no-repeat;
}
.play__img__item {
  position: absolute;
  background-repeat: no-repeat;
}
.evrika {
  z-index: 1;
  background-image: url(./img/play__img/evrika.png);
  left: -11%;
  width: 528.99px;
  top: -51px;
  height: 343.81px;
}
.player1 {
  display: none;
  z-index: 2;
  background-image: url(./img/play__img/player1.png);
  left: 11%;
  width: 528.99px;
  top: 65px;
  height: 343.81px;
}
.player2 {
  display: block;
  z-index: 2;
  background-image: url(./img/play__img/player2.png);
  left: 3%;
  width: 528.99px;
  top: 63px;
  height: 343.81px;
}
.hand {
  z-index: 3;
  background-image: url(./img/play__img/hand.png);
  left: 36%;
  width: 528.99px;
  bottom: -198px;
  height: 343.81px;
}
.black__horse {
  z-index: 3;
  background-image: url(./img/play__img/black__horse.png);
  left: 8%;
  width: 528.99px;
  bottom: -221px;
  height: 343.81px;
}
.horse__evrika {
  z-index: 2;
  background-image: url(./img/play__img/horse__evrika.png);
  left: -8%;
  width: 528.99px;
  bottom: -166px;
  height: 343.81px;
}
.mask {
  z-index: 2;
  left: 0%;
  top: 6%;
  mix-blend-mode: color-burn;
  background-image: url(./img/background__header/mask.png);
  height: 426px;
  width: 405px;
}
.play__img__item.hand {
  transition: transform 0.3s ease;
}

.play__img__item.black__horse {
  transition: transform 0.3s ease;
}

.play__img__item.horse__evrika,
.play__img__item.player1 {
  display: none;
}
/* //////////////////// */
.lecture__p {
  padding-top: 28px;
  font-family: "Merriweather";
  font-size: 36px;
  font-weight: 400;
  line-height: 48.6px;
  text-align: left;
  text-transform: uppercase;
}
.play__info__p {
  padding: 0;
  margin-bottom: 45px;
}
.lecture__p__span {
  color: #f54932;
  font-weight: 700;
}
/* Таблица */
.line {
  border-right: 2px solid #d0d0d0;
}
.horizontal__line {
  border-bottom: 2px solid #d0d0d0;
}
.play__info__table {
  margin-bottom: 35px;
}
.font__golos__regular {
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  font-weight: 400;
  align-content: center;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #595653;
}
.play__info__table__item {
  padding: 13px 18px 11px 0;
}
.table__bold {
  padding-right: 144px;
  padding-left: 13px;
  font-weight: 600;
}
.table__bold__span {
  text-decoration: line-through;
  text-decoration-color: red;
  margin-right: 8px;
}
.all__a {
  color: #3057a2;
  letter-spacing: 0px;
  font-size: 20px;
  text-transform: none;
}
/* Таблица враппер, которая в итоге станет слайдером */
.container__content {
  margin: 0 72px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 112px 112px 136px;
  gap: 20px;
}
.wrapper__item {
  background-image: url(/img/header__bg.png);
}
.wrapper__info {
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  padding-left: 16px;
  max-width: 446px;
}
.wrapper__item__container {
  display: flex;
  margin: 20px;
}
.wrapper__number {
  background-color: #ffffff;
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px;
  height: 36px;
  width: 36px;
}
.box3 {
  grid-column-start: 3;
  grid-row-start: 3;
  grid-row-end: 1;
}
.box7 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
}
.title__p {
  font-family: "Merriweather";
  font-size: 54px;
  font-weight: 400;
  line-height: 64.8px;
  text-align: left;
  text-transform: uppercase;
}
.transformation__title {
  margin-bottom: 53px;
}
.transformation__span {
  display: flex;
}
.transformation__span__item {
  padding-left: 19px;
  padding-bottom: 4px;
}
.airplane__img {
  position: absolute;
  top: 2233px;
  right: 10px;
}
.transformation {
  margin-bottom: 200px;
}
/* Участники */
.btns__slider {
  display: flex;
  align-items: center;
}
.counter {
  display: flex;
  margin: 0px 17px;
  font-family: "Golos Text", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 19.2px;
  color: #313131;
}
.participant__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 61px;
}
.counter__max {
  opacity: 60%;
}
/* Слайдер item */
.avatar {
  background-image: url("/img/avatar.png");
  height: 320px;
  width: 320px;
  margin-bottom: 28px;
}
.container__slider {
  overflow: hidden;
  margin: 0 auto;
}
.slider__item {
  display: flex;
  text-align: center;
  margin-right: 20px;
  width: 394px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider__name {
  font-family: "Golos Text", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 6px;
}
.slider__line {
  display: flex;
  position: relative;
  width: 2484px;
  left: 0;
  transition: all ease 1s;
}
.btn__back,
.btn__next {
  text-align: center;
  width: 44px;
  height: 44px;
  background-color: #313131;
  border: none;
  border-radius: 40px;
}
.btn__back:hover,
.btn__next:hover {
  transition: 0.3s;
  background-color: #fbce51;
}
.anchor {
  padding-top: 21px;
}
.slider__item__a {
  text-decoration: none;
  border: 1px solid #3057a2;
  padding: 7px 11px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 62px;
  line-height: 34px;
}
.slider__item__a:hover {
  color: #ffffff;
  background-color: #3057a2;
  transition: 0.3s;
}
.participant {
  margin-bottom: 140px;
}
.running__line__footer {
  margin-bottom: 0;
}
footer {
  padding-top: 42px;
  height: 150px;
  background-color: #e9ded4;
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}
